table{
    border-collapse: collapse;
    width: 620px;
    height: 320px;
    border: 1px solid black;
}
.row1{
    background-color: yellow;
   
}
.h1{
    background-color: yellow;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.timings{
    background-color: lightgrey;
}

tr,th,td{
    border: 2px solid black;
    text-align: center;
}
.Homecolor{
    background-color: lightcoral;
    width: 120px;
   
}